body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header, footer, .hero{
    background-color: #1f2937;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

header a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;


}
header ul{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

header li{
    list-style: none;
}

/* Hero Section */

.hero{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.hero-one{
    color: #e5e7eb;
}

.hero-two{
    background-color: #e5e7eb;
    color: #1f2937;
}

.hero-two p{
    padding: 70px 0;
    text-align: center;
}

button{
    background-color: #3882F6;
    border-radius: 2px;
    border: 0px;
    padding: 2px 10px;
    color: #e5e7eb;
    font-weight: 600;
}

/* Image Section */

.image-section h2{
    text-align: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}

.images{
    display: flex;
    justify-content: space-around;
    padding: 50px 200px;
    gap: 5px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #3882F6;
}

/* Quote Section */

.quote-section{
    background-color: #e5e7eb;
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 20px 200px;
}

.quote-section strong{
    font-style: none;
}

/* Call to action section */

.cta-box{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 5vh 20vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.cta-box button{
    background-color: #3882F6;
    border-radius: 4px;
    border: 1px solid #F9FAF8;
    padding: 5px 10px;
    margin: 35px 0;
}

.cta-text{
    margin: auto 5px;
}

.cta-text p{
    font-weight: 200;
    margin-top: 0px;
    padding-top: 0px;
}

.cta-text h3{
    font-weight: 900;
    margin-bottom: 0;
}

/* Footer section */

footer{
    color: #F9FAF8;
    text-align: center;
    padding: 10px 0;
}